# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/
